@using SofiaDayAndNight.Web.Areas.User.Models
@using SofiaDayAndNight.Common.Enums
@model EventViewModel
@{
	ViewBag.Title = "Event";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Event</h2>
@using (Html.BeginForm("Create", "Event",new { area="User"}, FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
	@Html.AntiForgeryToken()
	<div class="form-group">
		@Html.LabelFor(m => m.CreatorUserName, new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			@Html.HiddenFor(m => m.CreatorUserName, new { @class = "form-control" })
		</div>
	</div>
	@Html.ValidationSummary("", new { @class = "text-danger" })
	<div class="form-group">
		@Html.LabelFor(m => m.Title, new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			@Html.EditorFor(m => m.Title, new { @class = "form-control" })
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			@Html.EditorFor(m => m.Description, new { @class = "form-control" })
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.Privacy, new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			@Html.DropDownListFor(x => x.Privacy, EnumHelper.GetSelectList(typeof(Privacy)), new { @class = "form-control" })
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.EventType, new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			@Html.DropDownListFor(x => x.EventType, EnumHelper.GetSelectList(typeof(EventType)), new { @class = "form-control" })
		</div>
	</div>
	<div class="form-group">
		@Html.Label("Cover", new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			<input type="file" id="Image" name="upload" />
		</div>
	</div>
	<div class="form-group">
		@Html.Label("Begins", new { @class = "col-md-2 control-label" })
		<div class="col-md-10 input-group date" id='datetimepicker6'>
			@Html.EditorFor(m => m.Begins, new { @class="form-control" })
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-calendar"></span>
			</span>
		</div>
	</div>
	<div class="form-group">
		@Html.Label("Ends", new { @class = "col-md-2 control-label" })
		<div class="col-md-10 input-group date" id='datetimepicker7'>
			@Html.EditorFor(m => m.Ends, new { @class = "form-control" })
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" class="btn btn-default" value="Submit" />
		</div>
	</div>
}
<script type="text/javascript">
    $(function () {
        $('#datetimepicker6').datetimepicker();
        $('#datetimepicker7').datetimepicker({
            useCurrent: false 
        });
        $("#datetimepicker6").on("dp.change", function (e) {
            $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepicker7").on("dp.change", function (e) {
            $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
        });
    });
</script>
@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}