@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
	<div class="panel panel-default">
		<div class="panel-heading">  <h4>Profile</h4></div>
		<div class="panel-body">
			@Html.Partial("_OrganizationInfoPartial")

			<div class="col-md-2 col-xs-12 col-sm-6 col-lg-2">


				@*@if (Model.IndividualStatus == IndividualStatus.IsCurrent)
					{
						@Html.ActionLink("FriendsRequest", "FriendsRequest", new { username = Model.UserName }, new { @class = "btn btn-primary" });
						@Html.ActionLink("Friends", "FriendsList", new { username = Model.UserName }, new { @class = "btn btn-primary" });
					}*@


				@Html.ActionLink("Events", "EventsList", "Event", new { username = Model.UserName }, new { @class = "btn btn-primary" })
				@Html.ActionLink("Followers", "IndividualList", "Individual", new { username = Model.UserName }, new { @class = "btn btn-primary" })

			</div>
		</div>
	</div>
</div>
