@using SofiaDayAndNight.Web.Areas.User.Models
@using SofiaDayAndNight.Common.Enums
@model OrganizationViewModel

<div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
	<img src="~/Image?id=@Model.ProfileImage.Id" alt="image" id="profile-image1" class="img-circle img-responsive">
</div>
<div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
	<div class="container">
		<h2>@Html.DisplayFor(model => model.Name)</h2>
		@if (Model.OrganizationStatus == OrganizationStatus.None)
		{
			using (Ajax.BeginForm(
				"Follow",
				"Individual",
				new { id = Model.Id, area = "User" },
				new AjaxOptions
				{
					HttpMethod = "Post"
				}))
			{
				<button class="btn btn-primary" type="submit">Follow</button>
			}
		}
		@if (Model.OrganizationStatus == OrganizationStatus.IsFollowed)
		{
			using (Ajax.BeginForm(
				"UnFollow",
				"Individual",
				new { area = "User" },
				new AjaxOptions
				{
					HttpMethod = "Post"
				}))
			{
				@Html.DisplayFor(model => model.Id)
				<button class="btn btn-primary" type="submit">UnFollow</button>
			}
		}
		
	</div>
	<hr>
	<ul class="container details">
		<li><p><span class="glyphicon glyphicon-user one" style="width:50px;"></span>@Html.DisplayFor(model => model.Name)</p></li>
		<li><p><span class="glyphicon glyphicon-home one" style="width:50px;"></span>@Html.DisplayFor(model => model.City)</p></li>
		<li><p><span class="glyphicon glyphicon-home one" style="width:50px;"></span>@Html.DisplayFor(model => model.Description)</p></li>
		<li><p><span class="glyphicon glyphicon-home one" style="width:50px;"></span>@Html.DisplayFor(model => model.Location)</p></li>
	</ul>
	<hr>
</div>
